PROJECT_NAME=catalogiq
AWS_REGION=ap-south-1

DYNAMODB_ENDPOINT_URL=http://localhost:8001
DYNAMODB_TABLE_PREFIX=catalogiq-dev

STORAGE_BACKEND=local
LOCAL_STORAGE_ROOT=./storage

API_PORT=8000
WEB_PORT=5173
